@model MovieViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var actor in Model.Actors)
{

    @*<div class="form-group">
        
        
        <label class="col-md-4 control-label" asp-for="firstName">First Name</label>
        <div class="col-md-5">
            <input type="text" asp-for="FirstName" placeholder="first name" class="form-control input-md" required="">
        </div>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" asp-for="LastName">Last Name</label>
        <div class="col-md-5">
            <input type="text" asp-for="LastName" placeholder="last name" class="form-control input-md" required="">
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" asp-for="Age">Age</label>
        <div class="col-md-5">
            <input type="text" asp-for="Age" placeholder="age" class="form-control input-md" required="">
        </div>
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>*@
}
